flows/Export_Template.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Export_Template</name>
        <label>Export Template</label>
        <locationX>525</locationX>
        <locationY>91</locationY>
        <actionName>ExportAutomationTemplate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Exported_File</targetReference>
        </connector>
        <inputParameters>
            <name>automationTemplateId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>automationTemplateName</name>
            <value>
                <elementReference>recordId.Name</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FileId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <interviewLabel>Export Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Export Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Exported_File</name>
        <label>Exported File</label>
        <locationX>516</locationX>
        <locationY>291</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayFile</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;View file &lt;a href=&quot;/lightning/r/ContentDocument/{!FileId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Export_Template</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Deployment__c</objectType>
    </variables>
</Flow>
